* {
    font-family: 'TT Lakes';
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
  
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}

.left-header__link-menu-logo{
    margin-left: 16px;
    display: flex;
    align-items: center;

}
.left-header__link-logo, .left-header__divider-img{
    margin-left: 17px;
    display: flex;
    align-items: center;
}

.header-wrapper__item{
    display: flex;
    align-items: center;
    margin-right: 16px;
}


.left-header__menu_logo-img, .right-header__repair-img, .right-header__checkstatus-img{
    height: auto;
    max-width: 40px;
    
}
.header-wrapper__item-p{
    margin-right: 8px;

}
.header-wrapper__item-p{
    display: none;
}

.left-header__logo-img{
    max-width: 97px;
    height: auto;
}
.header-wrapper__popup-list, .header-wrapper__stable-list {
    margin: 0;
    padding: 0;
    display: flex;
}
.header-wrapper__stable-list:last-child{
    margin-right: 24px;
}

.header-wrapper__popup-list{
    margin-right: 20px;
    display: none;

}
.h1-block--visible{
    display: none;
    align-items: center;
}

.right-header__link-repair, .right-header__link-checkstatus{
    display: flex;
    align-items: center;   
    margin-right: 16px;
    list-style-type:  none;
    text-decoration: none;
    
    color: black
    
}

.right-header__link-call, .right-header__link-message, .right-header__link-contact {

    display: flex;
    align-items: center; 

}
.header-wrapper__popup-item, .header-wrapper__stable-item {
    list-style-type:  none;
    
}
.header-wrapper__popup-item{
    margin-right: 16px;
}



.main-info{
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    
}

.main-info__dash-picture{
    width: 4px;
    height: 40px;
}


.main-info__h1-wrapper{
    display: flex;
    align-items: center;
    margin-top: 16px;
   
    
}

.main-info__left-wrapper-info{
    display: flex;
    flex-direction: column;

}

.main-info__h1{
    margin-left: 12px;
    font-size: 28px;
    margin:0;
    margin-left:12px
    
    
}
.main-info__nav{
    height: 42px;
    overflow: auto;
    margin-top: 24px;
}
.main-info__list-nav{
    margin: 0;
    padding: 0;
    display: flex;
        /*flex-direction: column;*/
    align-items: flex-start;
    list-style-type:  none;
}

.main-info__link{
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
    padding: 10px 8px;
    margin-left: 16px;
}

.main-info__list-item{
    display: flex;
    min-width: max-content;
}

/*.main-info__list-nav .main-info__list-item:first-child .main-info__link{
    margin-top: 0px;
    border: 2px solid #B8FFEC;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}*/
.main-info__list-nav .main-info__list-item:hover .main-info__link{
    margin-top: 0px;
    border: 2px solid #B8FFEC;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}

.main-info__p{
    align-self: center;
    max-height: 90px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    transition: max-height 0.4s ease;
}

.main-info__p--change-height.txt-height {
    max-height: 200px;
}

.main-info__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
}

.main-info__wrapper-info{
    display: flex;
    flex-direction: column;
}

.main-info__link-txt{
    display: block;
    margin: 16px 0 16px 16px;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    font-weight: bold;
}

.main-info__button{
    border: none;
    outline: none;
    align-self: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1B1C21;
    background: transparent;
    margin: 16px 0 16px 12px;
    padding: 4px;
}

.main-info__img-button{
    height: 11px;
    width: 8px;
    margin-right: 8px; 
}
.main-info__pictur-link {
    margin-right: 8px;
}

.footer{
    height: 35px;
}

@media (min-width: 784px) and (max-width: 1199.98px) {
    .main-info__wrapper-info--change-main-column{
        flex-direction: row;

    }

    .main-info__main-picture--change-size{
        height: 208px;
        width: 360px;
        margin-left: 32px;
        margin-right: 40px;
    }

    .main-info__p--change-height{
        max-height: 160px;
    }
    .main-info__nav--change-height{
        height: auto;
    }
    
    .left-header__link-menu-logo--change-place{
        order: -2;

    }
    .left-header__divider-img--change-place{
        order: -1;

    }
    .header-wrapper__popup-list--visible{
        display: flex;
    }

    .footer{
        height: 40px;
        background-color: #F8F8F8;;
    }
}

@media (min-width: 1119.99px) {

    .main-info__wrapper-info--change-main-column{
        flex-direction: row;

    }
    .main-info__list-nav--change-main-column{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .main-info__p--change-height{
        max-height: 160px;
    }

    .main-info__nav--change-height{
        overflow: visible;
        height: auto;
    }
    
    .main-info__main-picture--change-size{
        height: 307px;
        width: 532px;
        margin-right: 40px;
        margin-left: 20px;
    }

    .header-wrapper{
     background-color: #F8F8F8;
     
    }
    .footer{
        height: 20px;
    }

    .h1-block--visible{
        display: flex;
    }

    .header-wrapper__item--visible{
        display: none;
    }

    .main-info__h1-wrapper--visible{
        display: none;
    }

    .header-wrapper{
        align-items: flex-end;
    }

    .header-wrapper__item-p--visible{
        display: block

    }
    
    .header-wrapper__popup-list--visible{
        display: none;
    }
    .main-info__item--margin-top{
        margin-top: 4px;
    }
  
}